.navbar{
    min-width: 100vw;
    min-height: 10vh;
    background: #FFFFFF66;
    backdrop-filter: blur(20px);
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
}

.navbar button{
    padding: .6rem 1rem;
    border-radius: 5px;
    border-color: transparent;
    border: none;
    font-weight: 600;
    background: #eee;
    color: black;
}

.navbar button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 5px 4px #24232322;
    color: white;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(214, 98, 149)  0%, rgb(86, 158, 230) 100%);
}

.navbar-links_container{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
}

