.hourdetails-edit-options{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}
.hourdetails-edit-options input{
    text-align: center;
    min-width: 60%;
    min-height: 100%;
    scroll-behavior: contain;
}

.hourdetails-edit-option{
    background: white;
    color: rgb(17, 17, 17);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid #A238;
    color: #A35;
    max-width: min-content;
    max-height: min-content;
    padding: 0 0.33rem;
}

.hourdetails-edit-option button > *{
    padding: none;
}

.hourdetails-edit-option:hover{
    cursor: pointer;
}